<style media="screen">
@media only screen and (max-width: 500px) {
  #title_img{
  width:80%;
  }
}
</style>
{% extends 'header.html' %}
{% block title %}Travel As You Go | Park Related to Activiy{% endblock %}

{% block body %}
{% load myfilter %}
<div id="content-wrapper" >
  <div class="container-fluid pb-0">
   <!-- Profile Detail Area Start-->
    <div class="video-block section-padding">
      <div class="main-items">
        <div class="row justify-content-md-center" >
          <div class="messages text-center col-md-12" >
            <br>
          <img src="../media/home/park_img/eater_img.png" alt=""  id="title_img" >
            <hr>
          </div>
        </div>
        <div class="my-all-lisitngs" style="margin-top:-5%;">
          <div class="row justify-content-md-center" >
            <div class="col-lg-10 col-sm-12" >
              <div class="help-tabs" >

                <div class="tab-content" id="myTabContent" >
                  <div class="tab-pane show active" id="web" role="tabpanel" >
                    <div class="help-faq" >
                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Joshua Tree (California)</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Picnic : </b> Pack a basket with healthy vegetarian and vegan fare from The Natural Sisters Cafe. The Joshua Tree spot offers smoothies, juices,
                            natural baked goods and organic food sure to sate even the most-active rock climbers and hikers. Pick up an eggless tofu sandwich or a warm curried rice
                            wrap, then head off into the high desert sun. The cafe also offers a sit-down option.
                          </p>
                          <br>
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Off-site : </b>
                            Arrive early for American breakfasts or take a break from the midday sun with Cambodian lunch fare at Country Kitchen in Joshua Tree.
                            Mareine Uy, a native of Cambodia, has run the place for more than two decades, garnering some attention for the place, including an appearance on Travel Channel's No Reservations. In the morning the blueberry pancakes are a favorite for desert-bound hikers.
                          </p>
                        </div>
                      </div>

                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Death Valley (California)</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">On-site : </b>
                            Travel back to the Wild West at the Badwater Saloon, an old-timey-themed spot at Stovepipe Wells Village. Quench your thirst with a specialty cocktail or one of more than 20 beers on tap, including the house Death Valley brew. Menu items range from light wraps and pork quesadillas to Western-style cowboy steak salad and homemade chili.
                          </p>
                          <br>
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Picnic : </b>
                            The Timbisha Shoshone tribe are the native people of Death Valley, who once inhabited villages peppered throughout the region. Now their one village, Timbisha at Furnace Creek, is located inside the the national park. Head to Timbisha Tribal Office (621 W. Line St. #109; 760-872-3614) for some of the best food in the valley. In a rec-room-like space, the succinct menu offers fantastic Indian tacos — a fluffy fry-bread base piled high with beans, lettuce, tomato, red onion and cheese and loaded with ground beef. Eat there or take it to go, but make sure to order some shaved ice for dessert
                          </p>
                        </div>
                      </div>
                      <!-- end -->
                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Channel Islands (California)</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Picnic : </b>
                            A do-it-yourself outdoor meal is often composed of sandwiches from the nearest deli. Channel Islands Provisioners (805-758-3375) is far more inspiring. Serving Santa Barbara and Ventura counties, the company sells tailored, farm-to-table picnics that are sensitive to dietary needs and preferences. They work with transportation concessionaire Island Packers for dockside meal drop-off. Packages include a light breakfast for the boat ride, as well as lunch and a snack, with picks like steel-cut oatmeal, a free-range-egg frittata, a spice-rubbed roast turkey sandwich and a chopped salad. Dinners are also available for campers.
                          </p>
                          <br>
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Off-site : </b>
                            A glass of wine is often the perfect finale to a long day in the sun. Have one (or more) at The CAVE in Ventura. Serving 32 different options by the ounce on the premises of Ventura Wine Company, the restaurant offers prime pairings with inexpensive small plates, including margherita pizza, a filet of beef, calamari risotto and a California tuna roll.
                          </p>
                        </div>
                      </div>
                      <!-- end -->

                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Kings Canyon (California)</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Picnic : </b>
                            The Peaks Restaurant at Wuksachi Lodge has great views of the southern Sierra Nevada and impressive local cuisine, including pan-seared ruby-red trout and beef burgers made from grass-fed cattle. For those aiming to maximize time on the trails, the Lodge also sells boxed lunches with choices such as an albacore tuna salad croissant, a chicken Caesar wrap, and a sliced ham and aged cheddar sandwich on ciabatta. Selections come with a nonalcoholic beverage, kettle chips, fruit and homemade cookies.
                          </p>
                          <br>
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Off-site : </b>
                            Cedar Grove Snack Bar (108260 North Side Dr.; 866-807-3598) serves straightforward American fare for breakfast, lunch and dinner, and options include oatmeal, biscuits and gravy, burgers, quesadillas, ribs and grilled steak. Order at the counter, then grab seats indoors or outside overlooking Kings River. The kitchen is open seasonally, from May 6 to Oct. 23, to coincide with the road to Cedar Grove.
                          </p>
                        </div>
                      </div>
                      <!-- end -->



                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Pinnacles (California)</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Picnic : </b>
                            With jagged hilltops and chaparral, Pinnacles offers spectacular hikes and vast wilderness, but no dining options. Pack a picnic at Bruno’s Market & Deli (Junipero St. & 6th Ave.; 831-624-3821) in Carmel-by-the Sea or Corral Market & Deli in Salinas. Owned by the same folks, both offer elevated deli sandwiches, wine and prepared dishes.
                          </p>
                          <br>
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Off-site : </b>
                            Stop at La Plaza Bakery for a quick meal after a morning hike. The bakery specializes in Mexican pastries — including fresh sweet breads — but also serves savory entrees with a speedy turnaround. Burritos and tortas are packed with carnitas, carne asada and fresh Mexican cheese.
                          </p>
                        </div>
                      </div>
                      <!-- end -->

                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Redwood (California)</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Picnic : </b>
                            Fuel the car and your stomach at Shoreline Deli & Market (120025 US-101, Orick). This gas station operates a quick-serve cafe with well-portioned, customizable sandwiches and milkshakes, just minutes from the Lady Bird Johnson Grove trail.
                          </p>
                          <br>
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Off-site : </b>
                            With nods from national culinary organizations and food publications, Restaurant 301 in Eureka’s Carter House Inns is considered a destination restaurant. Herbs, greens and vegetables from the on-site garden are matched with regional ingredients (think abalone and scallops, Dungeness crab cakes and Humboldt beef tenderloin) and wines from an impressive 3,400-selection list.
                          </p>
                        </div>
                      </div>
                      <!-- end -->

                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Sequoia (California)</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Picnic : </b>
                             From May 21 to September 25, dine alfresco at Wolverton BBQ (62805 Wolverton Rd.; 559-565-4070), an old-school cookout in Wolverton Meadow. Pig out on ribs, grilled chicken with mango salsa, bratwurst and sides like corn on the cob, lemony potato salad and slaw.
                          </p>
                          <br>
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Off-site : </b>
                            Admire forest and mountain vistas through the floor-to-ceiling windows at The Peaks Restaurant, housed inside the Wuksachi Lodge. All three meals of the day are served inside the beautiful space. Specialties include pan-seared ruby red trout and grass-fed beef burger, and boxed lunches are available for those who’d rather get outside.
                          </p>
                        </div>
                      </div>
                      <!-- end -->


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
var acc = document.getElementsByClassName("help-accordion");
var i;

for(i = 0; i < acc.length; i++){
 acc[i].addEventListener("click", function(){
 this.classList.toggle("active");

   var panel = this.nextElementSibling;
   if(panel.style.display === "block"){
     panel.style.display = "none";
   } else {
     panel.style.display ="block";
   }
 });
}

</script>
<!--content-wrapper End-->

    {% endblock %}
