

<script>

  function getloc(){

  navigator.geolocation.getCurrentPosition(showPosition);
  function showPosition(position){
    // lat.innerHTML = position.coords.latitude;
    // lon.innerHTML = position.coords.longitude;
    lat = position.coords.latitude;
    lon = position.coords.longitude;
    document.getElementById('nm').value=lat;
    document.getElementById('nm1').value=lon;
    // document.getElementById('near').submit();

    var url_string = `/nearby/${lat},${lon}`; //window.location.href
    window.open(url_string,'_self');

}
    // localStorage.setItem('latlon', JSON.stringify(t));
   // localStorage.clear();


  }
</script>
