<style media="screen">
@media only screen and (max-width: 500px) {
  #title_img{
  width:80%;
  }
}
</style>
{% extends 'header.html' %}
{% block title %}Travel As You Go | Privacy Policy{% endblock %}

{% block body %}
{% load myfilter %}
<div id="content-wrapper" >
  <div class="container-fluid pb-0">
   <!-- Profile Detail Area Start-->
    <div class="video-block section-padding">
      <div class="main-items">
        <div class="row justify-content-md-center" >
          <div class="messages text-center col-md-12" >
            <br>
          <img src="../media/home/park_img/policy.png" alt="Privacy Policy"  id="title_img" >
            <hr>
          </div>
        </div>
        <div class="my-all-lisitngs" style="margin-top:-5%;">
          <div class="row justify-content-md-center" >
            <div class="col-lg-10 col-sm-12" >
              <div class="help-tabs" >

                <div class="tab-content" id="myTabContent" >
                  <div class="tab-pane show active" id="web" role="tabpanel" >
                    <div class="help-faq" >
                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Introduction</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">At Travelasugo  </b>
                              we value your privacy and the importance of safeguarding your data. This Privacy Policy ("Privacy Policy") describes our privacy practices for the activities set out below. As per your rights, we inform you how we collect, store, access, and otherwise process information relating to individuals. In this Policy, "Personal Data" refers to any information that on its own, or in combination with other available information, can distinguish an individual.
                              We are committed to protecting your privacy in accordance with the highest level of privacy regulation.
                              As such, we follow the obligations under <br>
                              <b>California's Consumer Protection Act (CCPA) and California Online Privacy Protection Act (CalOPPA)</b>
                          </p>

                        </div>
                      </div>

                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Scope</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;"> This Policy  </b>
                          does not apply to third-party applications, websites, products, services or platforms that may be accessed through (non Travelasugo ) links that we may provide to you. These sites are owned and operated independently from us, and they have their own separate privacy and data collection practices. Any personal data that you provide to these websites will be governed by the third-party’s own privacy policy. We cannot accept liability for the actions or policies of these independent sites, and we are not responsible for the content or privacy practices of such sites. <br>
                          <b style="color:#000; font-size:14px;">Processing Activities : This Privacy Policy applies when you interact with us by doing any of the following :</b> <br>
                          <b style="color:#000; font-size:14px;">* Make use of our application and services as an authorized user</b><br>
                          <b style="color:#000; font-size:14px;">* Visit any of our websites that link to this Privacy Statement</b><br>
                          <b style="color:#000; font-size:14px;">* Receive any communication from us including newsletters, emails, calls, or texts</b><br>
                        </p>

                        </div>
                      </div>
                      <!-- end -->
                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Personal Data We Collect</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">Data You Provide : </b>
                      When you make a SignUp, or attempt to make a SignUp, we collect personal data such as Account information such as your name, email address, and password.
                      <br>  <b style="color:#000; font-size:17px;">Device and Usage Data</b> <br>
                      <b>When you visit a Travelasugo website, we automatically collect and store information about your visit using browser cookies (files which are sent by us to your computer), or similar technology. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. The Help Feature on most browsers will provide information on how to accept cookies, disable cookies or to notify you when receiving a new cookie. If you do not accept cookies, you may not be able to use some features of our Service and we recommend that you leave them turned on.</b>
                      <b style="color:#000; font-size:17px;">We also process information when you use our services and products. This information may include :</b> <br>
                      <b style="color:#000; font-size:17px;">IP Address</b> <br>
                      <b style="color:#000; font-size:17px;">Individual Park you view</b> <br>
                      <b style="color:#000; font-size:17px;">Web terms or searches that led you to the site</b> <br>
                      <b style="color:#000; font-size:17px;">Time zone</b> <br>
                          </p>

                        </div>
                      </div>
                      <!-- end -->

                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Cookie Policy</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">What are cookies? : </b>
                            A cookie is a small file with information that your browser stores on your device. Information in this file is typically shared with the owner of the site in addition to potential partners and third parties to that business. The collection of this information may be used in the function of the site and/or to improve your experience.
                          <br><br>  <b style="color:#000; font-size:18px;">How we use cookies : To give you the best experience possible, we use the following types of cookies:</b> <br> <br>
                            <b style="color:#000; font-size:17px;">* Strictly Necessary. As a web application, we require certain necessary cookies to run our service.</b> <br> <br>
                            <b style="color:#000; font-size:17px;">* We use preference cookies to help us remember the way you like to use our service.</b> <br> <br>
                            <b style="color:#000; font-size:17px;">* Some cookies are used to personalize content and present you with a tailored experience. For example, location could be used to give you services and offers in your area.</b> <br> <br>
                            <b style="color:#000; font-size:17px;">* Analytics : We collect analytics about the types of people who visit our site to improve our service and product.</b> <br> <br>
                            <b style="color:#000; font-size:17px;">* Marketing : We share cookies with third party advertisers and/or partners to help provide you with a personalized marketing experience.</b> <br>

                          </p>

                        </div>
                      </div>
                      <!-- end -->



                      <div class="faq-items" >
                        <button class="help-accordion" style="background:#fff; color:#000; font-size:20px;">Changes</button>
                        <div class="panel" style="display: none; background:#fff;" >
                          <p style="background:#fff;"> <b style="color:#000; font-size:17px;">We may modify this Policy at any time  </b>
                             If we make changes to this Policy then we will post an updated version of this Policy on this website. When using our services, you will be asked to review and accept our Privacy Policy. In this manner, we may record your acceptance and notify you of any future changes to this Policy.
                          </p>

                        </div>
                      </div>
                      <!-- end -->
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
var acc = document.getElementsByClassName("help-accordion");
var i;

for(i = 0; i < acc.length; i++){
 acc[i].addEventListener("click", function(){
 this.classList.toggle("active");

   var panel = this.nextElementSibling;
   if(panel.style.display === "block"){
     panel.style.display = "none";
   } else {
     panel.style.display ="block";
   }
 });
}

</script>
<!--content-wrapper End-->

    {% endblock %}
