

  <h3 > <b style='font-size:20px; color:#4267B2;''>Weather</b> {{wther.0.temp}} F / {{wther.0.temp|add:-273.15}} C <span id="weather">{{wther.3.description}}</span>
    {% if wther.3.main|lower == 'clouds' %}
    <img src="../media/home/img/cloud.gif" style="width:35px;  ">
    {% elif wther.3.main|lower == 'clear' %}
    <img src="../media/home/img/clear.gif" style="width:35px;  ">
    {% elif wther.3.main|lower == 'haze' %}
    <img src="../media/home/img/cloud.gif" style="width:35px;  ">
    {% elif wther.3.main|lower == 'rain' %}
    <img src="../media/home/img/rain.gif" style="width350px;  ">
    {% elif wther.3.main|lower == 'thunderstorm' %}
    <img src="../media/home/img/thunderstorm.gif" style="width:35px;  ">
    {% else %}
    <img src="../media/home/img/cloud.gif" style="width:35px;  ">
    {% endif %}
  </h3>
